/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
	p{
		font-size: 2.5rem;
	}
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.entry-title {
	font-size: 1.25rem;
	font-weight: 400;
}

@include desktop {
	.site-content {
		margin: 4.5rem 175px 1.5rem;
		position: relative;
	}
  }

.entry-content {
	p {
		font-size: 1.25rem;
		width: 90%;

		@include tablet {
			font-size: 1.75rem;
			width: 95%
		}
	
		@include desktop {
			font-size: 2.5rem;
		}
	}
}

.site-main {
	width: 90%;

	@include tablet {
		width: 90%
	}
	@include desktop {
		width: 100%
	}
}

.archive .hentry{

	border-bottom: $border__dash;
	
	p{
		margin-bottom: 2rem;
		
	}
	h2{
		margin-bottom: 3rem;
		font-weight: 400;
		
	}
}

.archive .page-header{
	margin-top: 2rem;
	h1{
		border-bottom: $border__dash;
		margin-bottom: 3rem;
}
}
.archive .page-title{
	
		padding-bottom: 1.5rem;
	
}