.site-footer {
  
  .site-info {
    display: flex;
    flex-wrap: wrap;
    margin: 4.5rem 0 3rem;
    .pfooter{
      p{
        font-size: 1rem;
      }
    }
    p {
      line-height: 1;
      margin-left: 1rem;
      
    }
    @include desktop {
      justify-content: flex-end;
    }
  }
  .footer-navigation {
    ul {
      display: inline-flex;
      margin: 1rem 0 0;
      padding: 0;

      li {
        list-style: none;
        padding: 0 1rem;
        line-height: 1;
        padding: 0 1rem;
      }

      li.page_item:nth-child(1), li.page_item:nth-child(2) {
        border-right: 1px solid #fff;
      }
      
      @include tablet {
        li{
          border-right: 1px solid #fff;
        }
        
        }
      @include desktop {
        li{
          border-right: 1px solid #fff;
        }
        }
      }
    }
  }

