.site-header {
  margin-top: 3rem;
  margin-bottom: 3rem;
  @include tablet {
    margin-bottom: 2rem;
  }
  .logo {
    img {
      display: block;
      width: 300px;
      @include tablet {
        width: 500px;
        margin: 0 auto;
        
      }
      @include desktop {
        width: 700px;
        margin: 0 auto;
        
      }
    }
  }
}
