.page-id-212 {
  .authors,
  .categories,
  .tags {
    ul {
      list-style: disc;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      font-size: 1.25rem;
      padding: 0;
    }

    a {
      margin-right: 1.5rem;
    }
  }
  .entry-header {
    h1 {
      margin: -18px 0;
      margin-bottom: 36px;
    }
  }
  .entry-title{
    font-size: 2rem;
    
  }

  .site-header {
    margin-top: 3rem;
    margin-bottom: 3rem;
  
    .logo {
      img {
        
        
        @include tablet {
          margin-left:10px; 
          
        }
        @include desktop {
          margin: 0 auto;
          
        }
      }
      
    }
  }
  
}
