/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.site-content {
  @include desktop {
    margin: 4.5rem 175px 1.5rem;
    position: relative;
  }
  top: 0;
  &:before,
  &:after {
    color: #0c0;
    font-family: 'FontAwesome';

    font-size: 125px;
    line-height: 125px;
    position: absolute;
    top: 0;
  }

  &:before {
    content: '\f10d';
    left: -175px;
  }
  &:after {
    content: '\f10e';
    right: -175px;
  }
}
/* All Archives Page */

.nav-links {
  span, a{
    margin-left: 5px;
    margin-right: 5px;
  }
  
}

/* Submit a Quote Page */

/* Home button */
#another {
  display: flex;
  margin: 0 auto;
}

.entry-content-after {
	p{
		font-size: 2.5rem;
	}
}

// 404

.content-area{
  .error-404{
    .page-header{
      font-weight: bold;
     
        

      }
    }
  }
  .page-content {
    p{
      font-size: 1rem;
    }}

// Single

.single{
  .entry-title{
    display: flex;

    .source{
      align-items: center;
      margin-top: 12px;
      margin-left: 5px;
    }
    a{
      margin-top:10px;
    }
  }
}
